/* Communicate App Custom Styles */

/*
	1 b5d245
	2 94ac39
	3 7e9330

	a 999999
	b 666666
	c 5d5d5d

	bg f0f0f0
*/

* { border-radius: 0 !important; }
body { font-family: 'Oxygen', sans-serif; }
a { color: #94ac39; }
a:hover,
a:focus { color: #b5d245; }
h1, h2, h3, h4, h5 { margin-bottom: 20px; }
h4 { color: #94ac39; }
.fa { display: block; text-align: center; padding-bottom: 10px; color: #aaa; }
.panel-body { overflow: scroll; -webkit-overflow-scrolling: touch; }
.navbar-brand { height: auto; }
.navbar-brand > img { width: 200px; height: auto; margin-top: 10px; }
.btn-success,
.btn-primary { background-color: #94ac39; border-color: #94ac39; outline: none !important; transition: background-color ease-out 300ms, border ease-out 300ms; }
.btn-success:hover,
.btn-primary:hover { background-color: #7e9330; border-color: #7e9330; }
.btn-primary:focus,
.btn-success:focus,
.btn-primary.focus,
.btn-success.focus,
.btn-primary:active,
.btn-success:active,
.btn-primary.active,
.btn-success.active,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-success { background-color: #7e9330 !important; border-color: #7e9330 !important; box-shadow: 0 5px 10px 0 rgba(0,0,0,.15) inset, 0 -1px 25px 0 rgba(0,0,0,.05) inset; }
.nav-pills > li > a { width: calc(100% + 30px); margin-left: -15px; transition: all ease-out 300ms; }
.nav-pills > li.active > a { background-color: #fff; color: #94ac39; }
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus { background-color: #eee; color: #888; }
.form-control:hover { border: 1px solid #98cb00; box-shadow: 0 0 10px #98cb00; }
.form-control:focus { border: 1px solid #bbb; box-shadow: 0 0 10px #3c7d00; }
.navbar-inverse { background-color: #fff; padding-bottom: 15px; border: 0; box-shadow: 0 5px 15px 0 rgba(0,0,0,.05), 0 -5px 15px 0 rgba(0,0,0,.05); }
.navbar-inverse > .container { height: 100%; }
.nav li > form > button.logout,
.navbar-inverse .navbar-nav > li > a { font-family: 'Open Sans', sans-serif; font-weight: bold; line-height: 20px; font-size: 12px; display: inline-block; padding: 35px 20px 20px 20px; color: #5d5d5d; text-transform: uppercase; transition: background-color ease-out 300ms, color ease-out 300ms; border-color: transparent !important; }
.nav li > form > button.logout:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover { background-color: #94ad2d !important; color: #fff !important; }
.navbar-inverse .navbar-nav > li.open > a { background-color: #e7e7e7 !important; color: #5f5f5f !important; }
.nav li > form > button.logout:hover .fa,
.navbar-inverse .navbar-nav > li > a:hover .fa { color: #fff; }
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus { color: #5f5f5f; border-top: 5px solid #94ad2d !important; padding-top: 30px; background: #f8f8f8; }
.wrap > .container { padding: 155px 15px 20px 15px; }
.form-horizontal .control-label { color: #000 !important; }
.form-horizontal .gdpr_text_admin { padding-top: 7px; }
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus { background-color: #94ad2d; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: #000; }
.navbar-inverse .navbar-toggle:hover .icon-bar { background-color: #fff; }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus { background-color: #94ac39; border: 1px solid #94ac39; }
.pagination > li > a,
.pagination > li > span { color: #94ac39; }
#quote-details .list-group-item > .label { float: right; font-size: 100%; }
#quote-details .list-group { max-width: 600px; }
#quote-form .quote-product { margin-bottom: 20px; }
#quote-form .quote-product .price,
#quote-form .quote-product .price-override,
#quote-form .quote-product .value { font-weight: bold; }
#quote-form .quote-product .overridden .price { text-decoration: line-through; font-weight: normal; color: #a94442; }
textarea { resize: vertical; /* user can resize vertically, but width is fixed */ }
textarea#directdebitdetails-address { height: 108px; }
address { font-size: 16px; }
#dd-logo { margin-top: 20px; padding: 0 0 20px 20px; }
#dd-logo img { height: 40px; }
#dd-guarantee ul { color: #999; }
#quote-totals { position: fixed; right: 0; bottom: 0; width: 100%; margin: 0; padding: 0 15px; z-index: 1000000; background: #fff; text-align: center; border: 1px solid rgba(0, 0, 0, 0.11); background: rgb(255, 255, 255); background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%); background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%); background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(247, 247, 247) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0); }
#quote-totals-data { position: relative; margin: 0 auto; width: 100%; max-width: 1170px; text-align: center; }
#quote-totals-data .total-item { padding: 10px 15px; font-weight: bold; }
iframe { width: 100% !important; }
#cross-sell-links { margin-top: 20px; }
#cross-sell-links .cross-sell-link { position: relative; float: left; padding: 30px 15px 0 15px; width: 25%; height: 24vw; }
#cross-sell-links .cross-sell-link a {  }
#cross-sell-links .cross-sell-link a,
#cross-sell-links .cross-sell-link p,
#cross-sell-links .cross-sell-link h4 { color: #fff; }
#cross-sell-links .cross-sell-link a .inner { position: relative; width: 100%; height: 100%; overflow: hidden; }
#cross-sell-links .cross-sell-link a .inner .bg-img { width: 100%; height: 100%; opacity: 0.6; transition: all cubic-bezier(0.65, 0.05, 0.36, 1) 300ms; background-color: #94ac39; background-size: cover; background-position: center; background-repeat: no-repeat; }
#cross-sell-links .cross-sell-link a .inner:hover .bg-img { opacity: 1; }
#cross-sell-links .cross-sell-link a .inner .text { z-index: 150; position: absolute; left: 0; top: 50%; width: 100%; padding: 0 20px; text-align: center; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%); }

@media all and (max-width: 1999px) {
    #cross-sell-links .cross-sell-link { width: 25%; height: 22vw; }
}

@media all and (max-width: 991px) {

	.navbar-inverse { padding: 0; text-align: center; }
	.navbar-right { display: inline-block; float: none !important; margin: 0 auto -5px auto; clear: both; }
	.nav li > form > button.logout,
	.navbar-inverse .navbar-nav > li > a { padding: 20px !important; border-top: 5px solid transparent; }
	.nav li > form > button.logout .fa,
	.navbar-inverse .navbar-nav > li > a .fa { display: none; }
    
    #cross-sell-links .cross-sell-link { width: 50%; height: 20vw; }
}

@media all and (max-width: 767px) {

	.navbar-right { width: 100%; }
	.nav li > form > button.logout,
	.navbar-inverse .navbar-nav > li > a { width: 100%; padding: 15px 20px !important; text-align: left; }
	.nav li > form > button.logout .fa,
	.navbar-inverse .navbar-nav > li > a .fa { display: inline-block; margin-right: 15px; padding: 0; }
	.navbar-inverse .navbar-nav .open .dropdown-menu .divider,
	.navbar-inverse .navbar-nav .open .dropdown-menu .dropdown-header { display: none; }
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header { padding: 10px 20px 10px 50px; font-size: 13px; transition: background-color ease-out 300ms, color ease-out 300ms; }
	.navbar-nav .open .dropdown-menu > li > a .fa { color: #fff !important; }
	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu .dropdown-header:hover { background-color: #94ac39 !important; color: #fff !important; }
    
    #cross-sell-links .cross-sell-link { width: 100%; height: 35vw; padding: 30px 30px 0 30px; }
}
